schedule/Cimplo-win32-x64/

schedule/release-builds/Cimplo-win32-ia32/

schedule/release-builds/Cimplo-linux-x64/

schedule/release-builds/Cimplo-darwin-x64/
schedule/Cimplo-darwin-x64

/modeling/__pycache__/
/modeling/build/

/modeling/*.txt
modeling/dist/
modeling/main.spec
schedule/app/modeling/__pycache__/
schedule/release-builds/Cimplo-win32-ia32.zip
schedule/app/output/
schedule/app/modeling/dist/
schedule/app/modeling/build/
schedule/rf_model.joblib

./sample_datasets/KLM/ # the KLM file. Removed for data protection reasons
